
.poster {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5vw;
}
.poster img {
    display: flex;
    width: 22vw;
    height: 60vh;
}